<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SavePhotos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9EAB9171EE816E000A630FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EAB92B1EE816E000A630FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EAB9361EE816E000A630FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
